* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #22ff6c48;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 500px;
    width: 500px;
    background-color: #86681588;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    border: 5px solid #866815;
    border-radius: 5px;
    box-shadow: 0 0px 5px #866815;
    
    gap: 20px;
    padding: 10px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Archivo Black";
    color: #ffffff;
    -webkit-text-stroke: 1.5px #000000c7;
}

.sub_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;

    gap: 40px;
}

.number {
    height: 35px;
    width: 130px;
    font-size: 25px;
    text-align: center;

    border: 1px solid #849116;
    box-shadow: 0 0px 3px #849116;
    border-radius: 5px;

    transform: scale(1.5);
    padding: 5px;
}

.number:focus {
    outline: none;
    border: 2px solid #849116;
    box-shadow: 0 0px 5px #849116;
}

.roll_dice {
    height: 50px;
    width: 100px;
    color: white;
    background-color: #0059ffc4;
    font-size: 18px;

    border: 1px solid #0059ffd8;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(17, 0, 255, 0.847);

    padding: 5px;
    cursor: pointer;
    transition: transform 0.05s ease-in-out;
}

.roll_dice:hover {
    transform: scale(1.05);
}

.results_container {
    width: 419px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#images_container {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
}

#images_container img {
    width: 80px; 
    height: 80px;

    object-fit: contain;
    margin: 20px;
}
